click==6.7
click-log==0.2.1
Pygments==2.2.0
python-dotenv==0.7.1
memory-profiler==0.47
terminaltables==3.1.0
colorama==0.3.9
Jinja2==2.9.6
GitPython==2.1.7
pyhcl==0.3.9
PyYAML==3.12
PyMySQL==0.8.0
psycopg2==2.7.3.2
virtualenv==15.1.0
boto3==1.4.7
ply==3.10
threads_aws_utils
requests==2.18.4
schema==0.6.7
anyconfig==0.10.0
